* {
	margin: 0;
	padding: 0;
}
/* mobile version. yes that's a very bizzare aspect ratio but if it's like 3/4 the comic will clip behind the nav*/
@media (max-aspect-ratio: 1/1) {
	/* makes the gradient background to look fancy*/
	body {
		background: linear-gradient(#61190f,#461009);
	}

	nav.flexed {
		display: none;
	}

	div.flexed {
		display: flex;
	}

	.viewbox {
		padding-top: 67px;
	}

	/* makes the nav be lookin' fancy */
	.topnav{
		vertical-align: top;
		margin-top: 0px;
		background: linear-gradient(to bottom, rgba(172, 46, 46,1), rgba(110, 8, 34, 0.7));
		color: #faebd7;
		padding: 10px;
		width: 100%;
		overflow: hidden;
		position: fixed;
	}

	/* The Overlay (background) */
	.overlay {
		/* Height & width depends on how you want to reveal the overlay (see JS below) */   
		height: 100%;
		width: 0;
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		background-color: rgb(0,0,0); /* Black fallback color */
		background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
		overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	/* Position the content inside the overlay */
	.overlay-content {
		position: relative;
		top: 25%; /* 25% from the top */
		width: 100%; /* 100% width */
		text-align: center; /* Centered text/links */
		margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	}
  
	/* The navigation links inside the overlay */
	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block; /* Display block instead of inline */
		transition: 0.3s; /* Transition effects on hover (color) */
	}
  
	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}
  
	/* Position the close button (top right corner) */
  	.overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}

	.icon{
		display: block;
		
	}
	/* makes the header look abit more oomfed. will need to change the font into some bold san-serif font */
	h1 {
		font-size: 60pt;
		display: block;
		text-align: center;
		padding-left: auto;
		padding-right: auto;
	}

	
	/* makes the images be in a relativly readable but not super big. also makes them flush so that no one can tell if I put a shorter in height image (¬◡ ¬)*/
	img {
		max-width: 630px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
/* desktop and high-res tablets */
@media (min-aspect-ratio: 1/1) {
	/* ALL OF THIS IS FOR THE DESKTOP VIEW OF IT. NOT MOBILE FRIENDLY WHAT SO EVER!*/
	/* it also requires some polishing to mkae it nicer and responsive to window width changes but it's functional*/

	/* makes the gradient background to look fancy*/
	body {
		background: linear-gradient(#61190f,#461009);
	}

	/* the magic that makes the nav be on the side rather than uptop */
	.flexbox{
		display: flex;
		margin:0px;
	}
	.topnav {
		display: none;
	}
	/*
		NOTES ON THE CONTENTS OF THE NAV! It appears that the contents of the nav may be skewed abit to the right for some dumb ass reason.
		Will need to fix this later in the process
	*/
	/* makes the nav be lookin' fancy */
	.button{
		display: none;
	}

	nav{
		background: linear-gradient(to bottom, rgba(172, 46, 46,1), rgba(172, 46, 46,0.3));
		color: antiquewhite;
		padding: 20px;
		min-width: 300px;
		max-width: 300px;
		height: 100%;
		position: fixed;
	}

	/* THIS IS A WIP! makes the links look like buttons. will make them the same width and animations when hovered later*/
	nav > a {
		font-size: 14pt;
		padding: 5px;
		margin-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
		line-height: 40px;
	}

	/* insert the link animations here~ o(≧▽≦)o .｡.:*☆ */

	/* makes the header look abit more oomfed. will need to change the font into some bold san-serif font */
	h1 {
		font-size: 30pt;
		text-align: center;
	}

	/* makes the p text element justifed. makes it look more uniform */
	p {
		text-align: justify;
	}	

	/* forces the images be in a column like in actual webcomic publishing sites*/
	.viewbox {
		width: 720px;
		height: auto;
		margin-left: 40%;
	}

	/* makes the images be in a relativly readable but not super big. also makes them flush so that no one can tell if I put a shorter in height image (¬◡ ¬)*/
	img {
		max-width: 480px;
		height: auto;
		vertical-align: top;
	}
}
