* {
	margin: 0;
	padding: 0;
}
/* mobile version*/
@media screen and (max-width: 768px) {
	/* makes the gradient background to look fancy*/
	body {
		background: linear-gradient(#61190f,#461009);
	}

	.flexbox {
		vertical-align: top;
	}

	/* makes the images be in a relativly readable but not super big. also makes them flush so that no one can tell if I put a shorter in height image (¬◡ ¬)*/
	img {
		max-width: 700px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		vertical-align: top;
	}
	/*
		NOTES ON THE CONTENTS OF THE NAV! It appears that the contents of the nav may be skewed abit to the right for some dumb ass reason.
		Will need to fix this later in the process
	*/
	/* makes the nav be lookin' fancy */
	nav{
		margin-top: 0px;
		background: linear-gradient(to bottom, rgba(172, 46, 46,1), rgb(110, 8, 34));
		color: #faebd7;
		padding: 10px;
		height: auto;
		position: fixed;
	}

	/* THIS IS A WIP! makes the links look like buttons. will make them the same width and animations when hovered later*/
	nav > a {
		display: none;
	}
	/*	
		yes ik hover is VERY BAD for touch screen but rn I wanna make sure the actual drop down function works.
		after than I'll change it to be when it's clicked.
	*/
	nav > a:hover {
		font-size: 14pt;
		padding: 5px;
		margin-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
		line-height: 40px;
	}
	/* insert the link animations here~ o(≧▽≦)o .｡.:*☆ */

	/* makes the header look abit more oomfed. will need to change the font into some bold san-serif font */
	h1 {
		font-size: 30pt;
		text-align: center;
	}

	/* makes the p text element justifed. makes it look more uniform */
	p {
		text-align: justify;
	}	
}
/* desktop and high-res tablets */
@media screen and (min-width: 769px) {
	/* ALL OF THIS IS FOR THE DESKTOP VIEW OF IT. NOT MOBILE FRIENDLY WHAT SO EVER!*/
	/* it also requires some polishing to mkae it nicer and responsive to window width changes but it's functional*/

	/* makes the gradient background to look fancy*/
	body {
		background: linear-gradient(#61190f,#461009);
	}

	/* the magic that makes the nav be on the side rather than uptop */
	.flexbox{
		display: flex;
		margin:0px;
	}

	/* forces the images be in a column like in actual webcomic publishing sites*/
	.viewbox {
		width: 720px;
		height: auto;
		margin-left: 50%;
	}

	/* makes the images be in a relativly readable but not super big. also makes them flush so that no one can tell if I put a shorter in height image (¬◡ ¬)*/
	img {
		max-width: 480px;
		height: auto;
		vertical-align: top;
	}
	/*
		NOTES ON THE CONTENTS OF THE NAV! It appears that the contents of the nav may be skewed abit to the right for some dumb ass reason.
		Will need to fix this later in the process
	*/
	/* makes the nav be lookin' fancy */
	nav{
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 10px;
		background: linear-gradient(to bottom, rgba(172, 46, 46,1), rgba(172, 46, 46,0.3));
		color: antiquewhite;
		padding: 20px;
		min-width: 300px;
		max-width: 300px;
		height: 889px;
		position: fixed;
	}

	/* THIS IS A WIP! makes the links look like buttons. will make them the same width and animations when hovered later*/
	nav > a {
		font-size: 14pt;
		padding: 5px;
		margin-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
		line-height: 40px;
	}

	/* insert the link animations here~ o(≧▽≦)o .｡.:*☆ */

	/* makes the header look abit more oomfed. will need to change the font into some bold san-serif font */
	h1 {
		font-size: 30pt;
		text-align: center;
	}

	/* makes the p text element justifed. makes it look more uniform */
	p {
		text-align: justify;
	}	
}
