/*
	note to self:

	fix: 
		※ force the images be ONLY in a column and not spread out
		   into a book-like manner when the browser window is 
		   wider than like 720p
		
		※ Make the flexbox elements be flush with the edges of the
		   browser window (if you see that red in the edges, 
		   you're doing it wrong)
		   
		※ Make the nav sticky while the comic still scrolls

	add/do:
		※ Sans serif font instead of the default Times New Roman

		※ make the background where the comic is blank. Only the 
		   nav element supposed to have a background color among 
		   the flexbox elements
		
		※ fancy changing links (maybe make them buttons and
		   make it flush with the nav element)

		※ make the images have zero top and bottom margins (no gaps!)
		   I want them look like it's all one image (this is to do the
		   APNG magic)

		※ Do the mobile version of the nav. Basically just have a
		   bar over the comic (flush to the edges) with the title
		   "BLOOD BOY" and in like one of the sides have a 三 which is
		   a drop down. The about titbit is in a dropdown which can be 
		   brought back up with another tap.
		
		※ make a proper palette (or be fucking insane and have the default be
		   grey and depending on mood of the following images be that palette)

		   and a abstract brush background instead of a solid red

*/

/* ALL OF THIS IS FOR THE DESKTOP VIEW OF IT. NOT MOBILE FRIENDLY WHAT SO EVER!*/

body {
	background: linear-gradient(#9e1503,#461009);
}

img {
	max-width: 480px;
	padding-left: 400px;
	padding-right: 50px;
	height: auto;
	min-block-size: 480px;
}

.flexbox{
	display: flex;
	margin:0px;
}



nav{
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(172, 46, 46,1), rgba(172, 46, 46,0.3));
	color: antiquewhite;
	padding: 20px;
	min-width: 300px;
	max-width: 300px;
	height: 889px;
	position: fixed;
}

nav > a {
	font-size: 14pt;
	padding: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	line-height: 40px;
}

h1 {
	font-size: 30pt;
	text-align: center;
}

p {
	text-align: justify;
}